body{
    overflow-x: hidden;
}

.thun{
    position: absolute;
    background: url(../thun.gif);
    height: 150px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

.incorr{
    color: red;
    visibility:hidden;
}
.allinfo{
    margin-top: 5% !important;
    padding-top: 15px;
}

.fore{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#image1,#image2,#image3,#image4,#image5,#image6{
    height: 90px;
    width: 100px;
}
figcaption{
    font-size: 15px;
}
#forecas{
    display: none;
}
.maincontent span{
    font-weight: 350;
    font-size: 20px;
}
.fw{
    font-weight: 300;
}
.data,.data2,.astro,.allinfo,.fore{
    cursor: default;
}
.fw2{
    font-weight: 450;
}
.airq{
    width: 30%;
    padding-right: 10px;
    display: none;
}
.graph{
    height: 43vh;
    resize: both;
    overflow: scroll;
    width:60%;
    display: none;
}
.barg{
    height: 40vh;
    width: 35%;
    resize: both;
    overflow: scroll;
    display: none;
}
.mixgraph{
    height: 40vh;
    resize: both;
    overflow: scroll;
    width: 60%;
    display: none;
}
.boxF{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.data,.astro{
    width: 30vw;
}
.data2{
    width: 26vw;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.boxS{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.crds{
    width: 26vw;
}
@media screen and (max-width:1000px){
    .fore{
        flex-direction: column;
    }
    .boxF{
        flex-direction: column;
    }
    .allinfo{
        flex-direction: column;
        margin-top: 20% !important;
    }
    .data,.astro,#forecas,.allinfo{
        width: 90%;
    }
    .crds,.data2,.mixgraph,.barg,.graph,.airq{
        width: 100%;
    }
    .AIRQ,.GRAPH{
        margin-right: 5% !important;
    }
}