
.box1{
    width: 70vw;
}
.box2{
    width: 70vw;
}
.mainbox{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (min-width:1000px){
    .box1{
        width: 30rem;
    }
    .box2{
        width: 30rem;
        height: 270px;
    }

}