.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes .form{
    position: absolute;
    top: 20%;
    width: 70vw;
    border-radius: 10px;
}

.boxes .form input{
    width: 80%;
    background-color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
}
.bord .form input{
    width: 100%;
    background-color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
}
#sup{
    margin-top: 10px;
    display: none;}
   
.form input:focus{
    outline: none;
}
::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.icons a:hover{
    color: aqua;
}
#lgn{
    width: 100%;
}
.form a{
    text-decoration: none;
    width: 220px;
    text-align: center;
    padding-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.form a:hover{
    color: aqua;
}

.see{
    background: transparent;
    color: rgb(21, 33, 209);
    border-style: none;
} 
.bord{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.bord .form{
    position: absolute;
    left: 17%;
    top: 20%;
    width: 70vw;
    border-radius: 10px;
}

#icns i{
    color: rgb(43, 131, 226);
}
#icns i:hover{
    color: blue;
}

#ale{
    font-size: 15px;
}
@media screen and (min-width:1200px){
    .boxes .form{
        width: 450px;
    }
    .bord .form{
        width: 450px;
        left: 35%;
    }
}