#navbarSupportedContent{
    font-size: 18px;
}
.nv{
    margin-left: 20px;
}
.navbar a:hover{
    background-color: gainsboro;
    color: black;
}
@media screen and (max-width:800px){
    
     i{
        margin-left: 0px;
    }
    #flexSwitchCheckDefault{
        margin-left: -25px;
        border: 1px solid gray;
        margin-top: 6px;
    }
    #lbl{
        display: block;
        margin-left: 20px;
        margin-top: 10px;
    }
   .nv{
    border-bottom: 1px solid rgba(128, 128, 128, 0.436);
   }
   #lgnn{
    margin-top: 10px !important;
    right: 220px !important;
   }
   #lgnn ul{
    height: 480px !important;
   }
   #lgnn ul li{
    margin-top: 10px !important;
   }
}
#lgnn{
    position: fixed;
    right: 870px;
    margin-top: 15px;
    top: 0;
    font-size: 25px;
    display: none;
}
#lgnn ul{
    height: 600px;
    background-color:gainsboro;
}
#lgnn ul li{
    margin-top: 30px;
}
#sout{
   font-size: 30px;
   text-decoration: none;
}
.title{
    cursor:default;
}