#navbarSupportedContent{
    font-size: 18px;
}
.nv{
    margin-left: 20px;
}
.navbar a:hover{
    background-color: gainsboro;
}
@media screen and (max-width:800px){
    
    .navbar{
        margin-bottom: 20px;
    }
     i{
        margin-left: 0px;
    }
    #flexSwitchCheckDefault{
        margin-left: -25px;
        border: 1px solid gray;
        margin-top: 6px;
    }
    #lbl{
        display: block;
        margin-left: 20px;
        margin-top: 10px;
    }
   .nv{
    border-bottom: 1px solid rgba(128, 128, 128, 0.436);
   }
}
#lgnn{
    position: fixed;
    right: 170px;
    margin-top: 17px;
    top: 0;
    font-size: 25px;
    display: none;
    color: rgb(24, 28, 248);
}
#sout{
   font-size: 20px;
   text-decoration: none;
}
nav a.active{
    background-color: gainsboro;
}