.main{
    margin-top: 10px;
    margin-left: 200px;
}
#clock{
    font-size: 25px;
    font-family:fantasy;
}
#time{
    width: 150px;
    position: fixed;
    margin-left: 1190px;
    margin-top: -10px;
        cursor:default;
}
h1{
    cursor:default;
}
@media screen and (max-Width:800px){
    .main{
        margin-left: 120px;
    }   
    #time{
        display: none;
    }
    #clock{
        font-size: 20px;
    }
}