.cards{
    width: 18rem;
    height: 520px;
    border: 2px solid rgb(0, 0, 0);
    cursor: default;
    transition: all 1s ease;
}
.cards a{
    margin-left: 70px;
}
.cards img{
    height: 190px;
    
}
.titl{
    height: 100px;
}
.btnrm{
    transform: scaleX(0);
    transition: transform 200ms;
}
.btnrm:hover{
    background-color: rgb(95, 188, 221);
}
.cards:hover{
       box-shadow: inset 1px 2px 39px 16px rgb(129, 150, 156) !important;
}
.cards:hover .btnrm{
     transform:scaleX(1.2);
     display:inline-block;
}

@media screen and (max-Width:1200px){
    .cards{
        width: 40rem;
    }   
    .cards a{
        margin-left: 250px;
    }
}

@media screen and (max-Width:820px){
    .cards{
        width: 32rem;
    }   
    .cards a{
        margin-left: 170px;
    }
}
@media screen and (max-Width:700px){
    .cards{
        width: 17rem;
        margin-left: -10px;
    }   
    .cards a{
        margin-left: 60px;
    }
}