.main{
    margin-top: 10px;
}
#clock{
    font-size: 20px;
    font-family:fantasy;
}
#time{
    width: 100px;
    position: fixed;
    right: 20px;
    top: 70px;
    cursor:default;
}
h1{
    cursor:default;
}
@media screen and (max-width:800px){
 #time{
    display: none;
 }
}