.card{
    width: 18rem;
    height: 530px;
    border: 2px solid black;
}
.card a{
    margin-left: 70px;
}
.card img{
    height: 170px;
}
.titl{
    height: 100px;
}
.btn:hover{
    background-color: rgb(39, 160, 204);
}