#hii{
    margin-left: 150px;
}
#hii a{
    margin-left: 50px;
    width: 200px;
}
#i1{
    width: 370px;
    height: 500px;
}
#i2{
    width: 370px;
    height: 500px;
}
#i3{
    width: 370px;
    height: 500px;
}
#i2:hover{
    width: 350px;
    height: 480px;
    box-shadow:  3px 2px 31px 20px rgba(242,229,46,0.83) !important;
}
#i1:hover{
    width: 350px;
    height: 480px;
    box-shadow: 3px 2px 31px 20px rgba(142,156,156,1) !important;
}
#i3:hover{
    width: 350px;
    height: 480px;
    box-shadow: 3px 2px 31px 20px rgba(87,242,227,1) !important;
}
#hii a:hover{
    background-color:black;
    color: white;
}
.rs{
    border: 2px solid black;
    width: 180px;
    margin-left: 60px;
    border-radius: 3px;
    margin-bottom: 20px;
}