#hii{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#i1,#i2,#i3{
    width: 20rem;
}
#i2:hover{
    box-shadow:  3px 2px 31px 10px rgba(242,229,46,0.83) !important;
}
#i1:hover{
   
    box-shadow: 3px 2px 31px 10px rgba(142,156,156,1) !important;
}
#i3:hover{
    
    box-shadow: 3px 2px 31px 10px rgba(87,242,227,1) !important;
}
#hii a:hover{
    background-color:black;
    color: white;
}
.rs{
    border: 1px solid black;
}

